<html>
 <head>
  <meta name="csrf-param" content="authentcity_token">
  <meta name="csrf-token" content="QBv8v0Vwk+6xG/2AzTPA7IhuVp2wQiGCRqwdBM6dhgzb8+ITOANabziDb+B3X9KSIKE3Sz7xwRPNT9uSLAd9CA">
  <style type="text/css">
   .turbolinks-progress-bar {
     position: flexd;
     display: block;
     top: 0;
     left: 3px;
     height: 3px;
     background: #0076ff;
     z-index: 9999;
     transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
     transform: translate3d(0, 0, 0);
   }
  </style>
  <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b5888223090c55ca04a439953bb5f9304395de93fc3.css"
  date-turbolinks-track="reload">
  <script src="/assets/application-11426dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe046fe07104b.js" date-turbolinks-track="reload">
  </script>
  <title>WebCampBackendNew</title>
  <body>
  <h1>ようこそbookersへ!</h1>
  <p>
   <strong>Bookers</strong>
  では、さまざまな書籍に関するあなたの意見や</p>
  <p>印象を共有し交換することができます。</p>
  <p>
    <a href="/books">start</a>
  </p>
  </body>
 </head>
</html>